@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.body {
  font-family: "DINPro";
  background-color: #fff;
  scroll-behavior: smooth;
}

.wrapper {
  position: relative;
  max-width: 1935px;
  margin: 0 auto;
}

.no-scroll {
  overflow-y: hidden;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* header */
.header {
  max-width: 1170px;
  margin: 0 auto;
  padding: 6px 40px;
  background-color: #f2f2f2;
  border-bottom: 0.5px solid #a4acad;
  margin-bottom: 30px;
}

.header-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* .header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 70px;
   transition: 0.2s ease;
   z-index: 8;
   padding: 10px 0;
}
.header--active {
   color: #fff;
   padding: 10px 10px 15px;
   height: 60px;
   transition: all 0.2s ease-in;
} */
.header-contacts {
  max-width: 185px;
  margin-right: 20px;
  padding-right: 18px;
  border-right: 0.5px solid #a4acad;
}

.header-contacts__tel {
  margin-bottom: 5px;
  text-align: center;
  font-family: "DINPro";
}

.header-contacts__tel p {
  font-family: "DINPro";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.header-contacts__tel span {
  font-family: "DINPro";
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
}

.header-contacts__tel span a {
  color: #ff9846;
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
}

.header-contacts__tel span a:hover {
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
  color: #df8033;
}

.header-contacts__info {
  max-width: 165px;
  text-align: center;
  font-family: "DINPro";
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #a4acad;
}

.header-contacts__info span {
  position: relative;
}

.header-contacts__info span::before {
  content: "";
  position: absolute;
  top: 0;
  left: -20px;
  background-image: url(".././img/svg/Часы.svg");
  width: 15px;
  height: 15px;
}

.header-contacts-mobile {
  display: none;
  font-family: "DINPro";
  text-align: center;
  padding: 10px 5px;
}

.header-contacts-mobile .logo-mobile {
  max-width: 47px;
  max-height: 43px;
  margin-right: 28px;
}

.header-contacts-mobile .logo-mobile__img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.header-contacts-mobile__tel {
  margin-bottom: 5px;
  margin-right: 13px;
}

.header-contacts-mobile__tel p {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

.header-contacts-mobile__tel span {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
}

.header-contacts-mobile__tel span a {
  color: #ff9846;
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
}

.header-contacts-mobile__tel span a:hover {
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
  color: #df8033;
}

.header-contacts-mobile__info {
  max-width: 87px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #a4acad;
}

.header-contacts-mobile__info span {
  position: relative;
}

.header-contacts-mobile__info span::before {
  content: "";
  position: absolute;
  top: -40%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-image: url(".././img/svg/Часы.svg");
  width: 15px;
  height: 15px;
}

/* BTN NAV */
/* 
.nav-btn {
   position: relative;
   z-index: 9;
   display: none;
   height: 20px;
   border: none;
   padding: 0;
   background: none;
   cursor: pointer;
   border: none;
}
.nav-btn:focus,
.nav-btn:active {
   outline: none;
}
.nav-btn-icon {
   position: relative;
   display: block;

   background-color: #000;

   width: 30px;
   height: 2px;
   border-radius: 20px;
}
.nav-btn-icon::before {
   position: absolute;
   left: 0;
   top: -7px;
   content: "";
   display: block;
   width: 30px;
   height: 2px;

   background-color: #000;
   border-radius: 20px;
   transition: transform 0.2s ease-in;
}
.nav-btn-icon:hover::before {
    transform: translateY(px) rotate(-4.5deg); 
}
.nav-btn-icon::after {
   position: absolute;
   left: 0;
   bottom: -7px;
   content: "";
   display: block;
   width: 30px;
   height: 2px;
   background-color: #000;
   border-radius: 2 0px;

   transition: transform 0.2s ease-in;
}
.nav-btn-icon:hover::after {
  transform: translateY(-1.5px) rotate(4.5deg); 
}
.nav-btn-close .nav-btn-icon {
   background-color: transparent;
}
.nav-btn-close .nav-btn-icon::before {
   transform: rotate(-45deg);
   top: 0;
   left: -10px;
}
.nav-btn-close .nav-btn-icon::after {
   transform: rotate(45deg);
   top: 0;
   left: -10px;
} */
/* burger menu */
.mobile-nav {
  position: relative;
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-1000px);
          transform: translateY(-1000px);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 15px 15px 20px 15px;
  background: #e4e4e4;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 4px white;
          box-shadow: 1px 1px 4px white;
  overflow-y: scroll;
}

.mobile-nav .mobile-nav__item ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mobile-nav .mobile-nav__item ul li {
  list-style-type: none;
  margin: 0;
  margin-bottom: 20px;
}

.mobile-nav__item ul > li > a,
a {
  text-decoration: none;
  color: #000000;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  font-family: inherit;
  font-size: 20px;
  font-weight: 500;
}

.mobile-nav__item ul > li > a:hover {
  color: red;
}

.mobile-nav-logo__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mobile-nav-logo__box li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mobile-nav-logo__box li a img {
  border-radius: 50%;
  margin-right: 10px;
}

.mobile-nav__item ul.mobile-nav__item-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mobile-nav__item ul.mobile-nav__item-box ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-nav__item ul.mobile-nav__item-box ul li a img {
  margin-right: 5px;
}

.mobile-nav__item__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  row-gap: 20px;
  padding-top: 20px;
}

.mobile-nav__item__info p {
  margin-bottom: 5px;
}

.mobile-nav__item__info span {
  margin-bottom: 5px;
}

/* NAv Close */
.nav-btn-close {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  padding: 30px;
  background-color: transparent;
  top: 3%;
  right: 5%;
}

.nav-btn-close-container {
  position: relative;
}

.nav-btn-close-icon {
  position: absolute;
  display: block;
  background-color: transparent;
  width: 30px;
  height: 2px;
  /*    padding: 30px;
   border-radius: 20px; */
}

.nav-btn-close-icon::before {
  position: absolute;
  left: 0;
  top: -7px;
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background-color: #fff;
  border-radius: 20px;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}

.nav-btn-close-icon:hover::before {
  -webkit-transform: translateY(1.5px) rotate(-4.5deg);
          transform: translateY(1.5px) rotate(-4.5deg);
}

.nav-btn-close-icon::after {
  position: absolute;
  left: 0;
  bottom: -7px;
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background-color: #fff;
  border-radius: 2 0px;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}

.nav-btn-close-icon:hover::after {
  -webkit-transform: translateY(-1.5px) rotate(4.5deg);
          transform: translateY(-1.5px) rotate(4.5deg);
}

.nav-btn-close .nav-btn-icon {
  /*    z-index: 10;
   position: absolute; */
}

.nav-btn-close .nav-btn-close-icon::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
  left: -10px;
}

.nav-btn-close .nav-btn-close-icon::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
  left: -10px;
}

.header-location {
  max-width: 65px;
}

.header-location__city {
  margin-bottom: 4px;
  font-family: "DINPro";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #a4acad;
}

.header-location__city-name {
  font-family: "DINPro";
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000000;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 69px;
}

.nav ul li {
  margin-right: 10px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.nav ul li a {
  color: #111111;
  -webkit-transition: 0.25s ease-in color;
  transition: 0.25s ease-in color;
}

.nav ul li a:hover {
  color: #ff9846;
}

.nav__search {
  -webkit-transition: 0.2s all ease-in transform;
  transition: 0.2s all ease-in transform;
}

.nav__search__img:hover,
.nav__search__img :focus,
.nav__search__img :active {
  cursor: pointer;
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
  fill: #ff9846;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  font-family: "DINPro";
}

.content {
  max-width: 1170px;
  width: 100%;
  background-color: #f2f2f2;
}

/* sidebar-left */
.sidebar-left {
  max-width: 300px;
  min-width: 250px;
  width: 100%;
  padding-top: 26px;
}

.sidebar-left .logo {
  margin: 0 auto;
  position: relative;
  width: 137px;
  height: 140px;
  margin-bottom: 60px;
}

.sidebar-left .logo::after {
  position: absolute;
  bottom: -30px;
  left: 0;
  content: "";
  border-bottom: 0.5px solid #a4acad;
  width: 180px;
  height: 1px;
}

.sidebar-left .logo__img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  margin-bottom: 10px;
}

.sidebar-left .logo p {
  font-family: "DINPro";
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.sidebar-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 320px;
  min-height: 570px;
}

.sidebar-menu ul li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-left: 60px;
  margin-bottom: 30px;
}

.sidebar-menu ul li img {
  margin-right: 20px;
}

.sidebar-menu ul li a {
  color: #000000;
  font-family: "DINPro";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  -webkit-transition: 0.2s all ease-in;
  transition: 0.2s all ease-in;
}

.sidebar-menu ul li a:hover {
  cursor: pointer;
  color: #ff9846;
}

.sidebar-menu ul .at-work::after {
  position: absolute;
  top: -10px;
  right: 0;
  content: "";
  background-image: url(".././img/svg/sidebar-menu/скоро.svg");
  width: 50px;
  height: 15px;
}

.sidebar-menu__item {
  margin-right: 20px;
}

/* sidebar-right */
.sidebar-right {
  max-width: 420px;
  min-width: 300px;
  padding-top: 55px;
  padding-left: 40px;
  padding-right: 10px;
}

.cart-wrapper {
  background: #f2f2f2;
  border-radius: 5px;
  margin-bottom: 20px;
}

.none {
  display: none;
}

/* burger menu */
.cart-mobile {
  position: relative;
  position: fixed;
  z-index: 3;
  top: 0;
  right: -10000px;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-1000px);
          transform: translateY(-1000px);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transition: 0.2s ease-in opacity;
  transition: 0.2s ease-in opacity;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 90%;
  padding: 15px 15px 20px 15px;
  background: #e4e4e4;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 4px white;
          box-shadow: 1px 1px 4px white;
  overflow-y: scroll;
}

/* NAv Close */
.cart-btn-close {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  padding: 30px;
  background-color: transparent;
  top: 1%;
  right: 5%;
}

.cart-btn-close-container {
  position: relative;
}

.cart-btn-close-icon {
  position: absolute;
  display: block;
  background-color: transparent;
  width: 30px;
  height: 2px;
  /*    padding: 30px;
   border-radius: 20px; */
}

.cart-btn-close-icon::before {
  position: absolute;
  left: 0;
  top: -7px;
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background-color: black;
  border-radius: 20px;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}

.cart-btn-close-icon:hover::before {
  -webkit-transform: translateY(1.5px) rotate(-4.5deg);
          transform: translateY(1.5px) rotate(-4.5deg);
}

.cart-btn-close-icon::after {
  position: absolute;
  left: 0;
  bottom: -7px;
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background-color: black;
  border-radius: 2 0px;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}

.cart-btn-close-icon:hover::after {
  -webkit-transform: translateY(-1.5px) rotate(4.5deg);
          transform: translateY(-1.5px) rotate(4.5deg);
}

.cart-btn-close .nav-btn-icon {
  /*    z-index: 10;
   position: absolute; */
}

.cart-btn-close .cart-btn-close-icon::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
  left: -10px;
}

.cart-btn-close .cart-btn-close-icon::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
  left: -10px;
}

.cart {
  max-width: 350px;
  padding: 12px 0;
}

.cart__title {
  max-width: 300px;
  padding: 10px;
  margin: 0 auto;
  background: #f2f2f2;
  border-radius: 5px;
}

.cart__title-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #000000;
}

.cart__subtitle {
  margin: 0 auto;
  max-width: 229px;
  margin-bottom: 10px;
  padding: 5px 0 0;
  font-family: "DinPro";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #000000;
}

.cart__subtitle-2 {
  margin: 0 auto;
  max-width: 265px;
  margin-bottom: 26px;
  font-family: "DinPro";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #a4acad;
}

.cart__text {
  max-width: 350px;
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 12px 35px;
  background: #ff9846;
  border-radius: 0px 0px 5px 5px;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #f2f2f2;
}

.cart__text:hover {
  background: #e27924;
}

.cart-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px 0;
  padding: 10px;
  background-color: #fff;
}

.cart-item__img {
  max-width: 70px;
  max-height: 50px;
  margin-right: 7px;
}

.cart-item__img-pic {
  width: 100%;
  height: auto;
}

.cart-item__info-title {
  max-width: 171px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: inherit;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.cart-item__info__counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart-item__info__counter-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cart-item__info__counter button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 9px;
}

.cart-item__info__counter button img {
  pointer-events: none;
}

.cart-item__info__counter span {
  margin-right: 8px;
}

.cart-mobile {
  width: 100%;
  padding: 12px 10px;
}

.cart-mobile__title {
  margin: 0 auto;
  max-width: 300px;
  padding: 10px;
  margin-bottom: 10px;
}

.cart-mobile__title-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #000000;
}

.cart-mobile-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 400px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
}

.cart-mobile-item__img {
  max-width: 70px;
  max-height: 50px;
  margin-right: 7px;
}

.cart-mobile-item__img-pic {
  width: 100%;
  height: auto;
}

.cart-mobile-item__info-title {
  max-width: 228px;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: inherit;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.cart-mobile-item__info__counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart-mobile-item__info__counter-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cart-mobile-item__info__counter button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 9px;
}

.cart-mobile-item__info__counter button img {
  pointer-events: none;
}

.cart-mobile-item__info__counter span {
  margin-right: 8px;
}

.cart-mobile-item__price {
  margin-right: 15px;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  text-align: right;
  color: #000000;
}

.cart-mobile__btn {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 330px;
  max-height: 48px;
  margin-bottom: 10px;
  padding: 13px 90px;
  background: #f46d40;
  border-radius: 5px;
  font-size: 18px;
  line-height: 22px;
  color: #f2f2f2;
}

.cart-mobile__current-box {
  margin: 0 auto;
  max-width: 400px;
  background-color: #fff;
  border-radius: 5px;
  padding-bottom: 12px;
  margin-bottom: 10px;
}

.cart-mobile__current-box__title {
  text-align: center;
  color: #ff9846;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.cart-mobile__current-box__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px 0;
  border-bottom: 0.5px solid #a4acad;
}

.cart-mobile__current-box__item-price {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-mobile__current-box__item-cost, .cart-mobile__current-box__item-sale, .cart-mobile__current-box__item-delivery {
  font-size: 18px;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
}

.order-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.order-form__delivery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  font-size: 22px;
  line-height: 24px;
  color: #000000;
}

.order-form__delivery-cost {
  font-weight: 700;
  margin-right: 30px;
}

.order-form__delivery-cost-price {
  font-weight: 500;
}

.order-form__delivery .free {
  color: #079b2c;
  font-weight: 500;
}

.order-form__price, .order-form__price-currency {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}

.order-form__price {
  margin-right: 5px;
}

.order-form__price-currency {
  margin-right: 20px;
}

.order-form__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 180px;
  max-height: 32px;
  margin-bottom: 20px;
  padding: 5px 23px;
  background: #f46d40;
  border-radius: 5px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #f2f2f2;
}

.map-container {
  max-width: 350px;
}

.map {
  position: relative;
}

.map iframe {
  max-width: 350px;
  height: auto;
  width: 100%;
}

.map-address {
  position: absolute;
  top: 60%;
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f2f2f2;
  border-radius: 5px;
}

.map-address__title {
  margin-bottom: 10px;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #000000;
}

.map-address__subtitle {
  margin-bottom: 7px;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #a4acad;
}

.map__location {
  position: absolute;
  top: -30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60px;
  height: 60px;
  background: #ff9846;
  border-radius: 50%;
}

.content-main .swiper {
  margin-bottom: 30px;
}

/* Categories big screen*/
.categories-items-big-screen {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 52px;
  -ms-grid-columns: (224px)[4];
      grid-template-columns: repeat(4, 224px);
  -ms-grid-rows: (200px)[2];
      grid-template-rows: repeat(2, 200px);
  grid-auto-rows: 200px;
  row-gap: 30px;
  -webkit-column-gap: 30px;
          column-gap: 30px;
      grid-template-areas: "wide1 wide1 single1 single2" "wide2 wide2  wide3 wide3";
}

.categories-items-big-screen .item-chicken {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: wide1;
}

.categories-items-big-screen .item-ugr {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: single1;
}

.categories-items-big-screen .item-corndog {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: single2;
}

.categories-items-big-screen .item-pizza {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: wide2;
}

.categories-items-big-screen .item-sale {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: wide3;
}

.categories__item {
  position: relative;
  overflow: hidden;
}

.categories__item img {
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
}

.categories__item img:hover {
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
  opacity: 0.9;
}

.categories__item p {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-family: "DINPro";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

/* Categories__items-middle-screen */
.categories__items-middle-screen {
  display: none;
  /* display: grid; */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  grid-auto-rows: 160px;
  row-gap: 20px;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  -ms-grid-columns: (162px)[3];
      grid-template-columns: repeat(3, 162px);
  -ms-grid-rows: (160px)[5];
      grid-template-rows: repeat(5, 160px);
      grid-template-areas: "s1 s2 s3" "s4 s5 s6" "s7  w1 w1" "s8 s9 s10" "w2 w3 w3";
}

.categories__item-small {
  position: relative;
  overflow: hidden;
}

.categories__item-small img {
  width: 100%;
  height: auto;
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
}

.categories__item-small img:hover {
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
  opacity: 0.9;
}

.categories__item-small p {
  position: absolute;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.categories__item-small__text-top {
  top: 10px;
  left: 10px;
}

.categories__item-small__text-bottom {
  left: 7px;
  bottom: 10px;
}

.categories__item-small-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: s1;
}

.categories__item-small-2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: s2;
}

.categories__item-small-3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: s3;
}

.categories__item-small-4 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: s4;
}

.categories__item-small-5 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: s5;
}

.categories__item-small-6 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: s6;
}

.categories__item-small-7 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: s7;
}

.categories__item-small-8 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: s8;
}

.categories__item-small-9 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: w1;
}

.categories__item-small-10 {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: s9;
}

.categories__item-small-11 {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: s10;
}

.categories__item-small-12 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: w2;
}

.categories__item-small-13 {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: w3;
}

/*novelty  */
.novelty {
  margin-bottom: 60px;
}

.novelty__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  margin-bottom: 30px;
  padding-left: 90px;
}

.novelty-title {
  font-family: "DINPro";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #a4acad;
}

.novelty-title--active {
  font-family: "DINPro";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}

.about-us-container {
  margin: 0 auto;
  max-width: 950px;
  padding: 0 15px;
}

.about-us__header {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #a4acad;
}

.about-us__text {
  margin-bottom: 42px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 100%;
  color: #a4acad;
}

.about-us__text p {
  margin-bottom: 10px;
}

.about-us__text ul {
  margin-bottom: 10px;
}

.about-us__text ul li {
  list-style: disc;
  margin-left: 30px;
}

.about-us__btn {
  position: relative;
  margin: 0 auto;
  max-width: 120px;
  margin-bottom: 60px;
}

.about-us__btn button {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 100%;
  color: #f46d40;
  -webkit-transition: 0.1s ease-in all;
  transition: 0.1s ease-in all;
}

.about-us__btn button:active::after,
.about-us__btn button :focus::after {
  -webkit-transition: 0.1s ease-in all;
  transition: 0.1s ease-in all;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
  right: -25px;
}

.about-us__btn button::after {
  content: "";
  position: absolute;
  right: -30px;
  top: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-image: url(".././img/svg/arrow-more.svg");
  width: 15px;
  height: 7px;
}

/* footer */
.footer {
  margin: 0 auto;
  max-width: 950px;
  border-top: 0.5px solid #a4acad;
  padding-top: 22px;
  padding-bottom: 60px;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-nav {
  border-right: 0.5px solid #a4acad;
  padding-right: 70px;
  margin-right: 40px;
}

.footer-nav ul li {
  margin-bottom: 20px;
}

.footer-nav ul li a {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
}

.footer-nav-mobile {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  background: #ffffff;
  border-top: 0.5px solid #a4acad;
}

.footer-nav-mobile-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-nav-mobile-item a {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #111111;
}

.footer-links {
  padding-right: 50px;
  border-right: 0.5px solid #a4acad;
  margin-right: 40px;
}

.footer-links__title {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
}

.footer-links-tel {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #a4acad;
}

.footer-links-tel input {
  background-color: transparent;
}

.footer-links__info {
  max-width: 212px;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #a4acad;
}

.footer__links__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__links__items .footer__link {
  margin-right: 30px;
}

.footer__links__items .footer__link img {
  opacity: 0.3;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}

.footer__links__items .footer__link img:hover {
  opacity: 1;
}

.footer-info .footer-tel a {
  margin-bottom: 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #a4acad;
}

/*  media queries*/
@media screen and (max-width: 1900px) {
  .sidebar-left {
    width: auto;
    padding-right: 10px;
  }
  .sidebar-menu ul li {
    margin-left: 40px;
  }
}

@media screen and (max-width: 1560px) {
  .categories-items-big-screen {
    -ms-grid-columns: (150px)[4];
        grid-template-columns: repeat(4, 150px);
    -ms-grid-rows: (180px)[2];
        grid-template-rows: repeat(2, 180px);
    grid-auto-rows: 200px;
  }
  .mySwiper {
    width: 800px;
  }
  .mySwiper2 {
    width: 700px;
  }
}

@media screen and (max-width: 1380px) {
  .mySwiper {
    width: 600px;
  }
  .sidebar-left .logo::after {
    width: 100%;
  }
  .sidebar-right {
    padding-left: 20px;
    min-width: 300px;
  }
  .footer {
    padding-top: 15px;
    padding-bottom: 50px;
  }
  .footer-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-nav {
    margin-right: 20px;
    padding-right: 40px;
    margin-bottom: 20px;
    /*   display: none; */
  }
  .footer-links {
    margin-bottom: 20px;
    margin-right: 0;
    padding-right: 40px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 1260px) {
  .sidebar-left {
    min-width: 200px;
  }
  .sidebar-menu {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .sidebar-menu ul li {
    margin-bottom: 25px;
    margin-left: 10px;
  }
  .sidebar-menu ul li img {
    margin-right: 10px;
  }
  .sidebar-menu .at-work::after {
    left: 50%;
  }
  .nav ul {
    margin-right: 30px;
  }
  .header {
    padding: 6px 25px;
  }
  .header-contacts {
    padding-right: 10px;
    margin-right: 10px;
  }
  .categories-items-big-screen {
    -ms-grid-columns: (150px)[2];
        grid-template-columns: repeat(2, 150px);
    -ms-grid-rows: (180px)[4];
        grid-template-rows: repeat(4, 180px);
    grid-auto-rows: 200px;
    row-gap: 10px;
    -webkit-column-gap: 20px;
            column-gap: 20px;
        grid-template-areas: "wide2 wide2" "single1 single2" "wide1 wide1" "wide3 wide3";
  }
  .mySwiper {
    width: 500px;
  }
  .novelty__header {
    padding-left: 60px;
  }
  .mySwiper2 {
    width: 600px;
  }
  .sidebar-right {
    padding-left: 20px;
    min-width: 250px;
  }
  .cart {
    padding-bottom: 0;
  }
  .cart__subtitle-2 {
    margin-bottom: 10px;
  }
  .cart__text {
    padding: 5px 5px;
    margin-bottom: 0;
  }
  .footer {
    padding-top: 15px;
    padding-bottom: 50px;
  }
  .footer-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-nav {
    /*   margin-right: 20px;
      padding-right: 40px;
      margin-bottom: 20px; */
    display: none;
  }
  .footer-links {
    margin-bottom: 20px;
    margin-right: 0;
    padding-right: 40px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 1215px) {
  .mySwiper2 {
    width: 500px;
  }
  .header-contacts__tel span {
    font-size: 16px;
  }
}

@media screen and (max-width: 1200px) {
  .header-contacts__tel {
    text-align: left;
  }
}

@media screen and (max-width: 1150px) {
  .nav ul {
    display: none;
  }
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header {
    background: #ffffff;
    padding: 0 5px;
  }
  .header-contacts {
    display: none;
  }
  .header-contacts-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .sidebar-left {
    display: none;
  }
  .mySwiper {
    display: none;
  }
  .mySwiper2 {
    width: 700px;
  }
  .mySwiper2 .img-slider__button {
    width: 40px;
    height: 40px;
  }
  .card-item__img-pic {
    width: 100%;
    height: auto;
  }
  .footer-nav-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media screen and (max-width: 1070px) {
  .row {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .header-contacts {
    margin-right: 30px;
  }
  .header-location {
    display: none;
  }
  .header-location__city-name {
    font-size: 16px;
  }
  .sidebar-left .logo {
    margin-bottom: 50px;
  }
  .sidebar-menu ul li {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sidebar-menu ul li a {
    font-size: 22px;
    line-height: 20px;
    min-height: auto;
  }
  .sidebar-right {
    min-width: 200px;
  }
  .cart__subtitle {
    font-size: 20px;
    line-height: 24px;
  }
  .cart__subtitle-2 {
    font-size: 16px;
    line-height: 20px;
  }
  .map-address__title {
    font-size: 20px;
    line-height: 20px;
  }
  .map-address__subtitle {
    font-size: 14px;
    line-height: 20px;
  }
  .footer {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 1030px) {
  .nav ul {
    display: none;
  }
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header {
    background: #ffffff;
    padding: 0 5px;
  }
  .header-contacts {
    display: none;
  }
  .header-contacts-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav-btn {
    display: block;
  }
  .mobile-nav-active,
  .cart-mobile-active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    visibility: visible;
    opacity: 1;
    top: 0;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  .sidebar-left {
    display: none;
  }
  .mySwiper {
    display: none;
  }
  .mySwiper2 {
    width: 700px;
  }
  .mySwiper2 .img-slider__button {
    width: 40px;
    height: 40px;
  }
  .categories-items-big-screen {
    display: none;
  }
  .categories__items-middle-screen {
    display: -ms-grid;
    display: grid;
  }
  .card-item__img-pic {
    width: 100%;
    height: auto;
  }
  .footer-nav-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media screen and (max-width: 970px) {
  .mySwiper {
    width: 450px;
  }
  .mySwiper2 {
    width: 400px;
  }
}

@media screen and (max-width: 950px) {
  .nav ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: 0;
  }
  .mySwiper {
    display: none;
  }
  .mySwiper2 {
    width: 300px;
  }
  .mySwiper2 .img-slider__button {
    width: 40px;
    height: 40px;
  }
  .mySwiper2 .swiper-slide img {
    width: auto;
    height: auto;
  }
  .card-item {
    /*  max-width: 260px; */
  }
  .card-item__img-pic {
    width: 100%;
    height: auto;
  }
  .footer-nav-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media screen and (max-width: 920px) {
  .nav ul {
    display: none;
  }
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header {
    background: #ffffff;
    padding: 0 5px;
  }
  .header-contacts {
    display: none;
  }
  .header-contacts-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .novelty {
    column-gap: 10px;
    -webkit-column-gap: 10px;
  }
  .novelty-title {
    font-size: 20px;
  }
  .novelty-title--active {
    font-size: 20px;
  }
  .sidebar-left {
    display: none;
  }
  .sidebar-right {
    display: none;
  }
  .footer-links {
    padding-right: 0;
  }
  .footer-info {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 680px) {
  .categories__items-middle-screen {
    display: -ms-grid;
    display: grid;
    row-gap: 10px;
    -webkit-column-gap: 10px;
            column-gap: 10px;
    -ms-grid-columns: (150px)[3];
        grid-template-columns: repeat(3, 150px);
    -ms-grid-rows: (150px)[5];
        grid-template-rows: repeat(5, 150px);
        grid-template-areas: "s1 s2 s3" "s4 s5 s6" "s7  w1 w1" "s8 s9 s10" "w2 w3 w3";
  }
}

@media screen and (max-width: 600px) {
  .categories__items-middle-screen {
    display: -ms-grid;
    display: grid;
    row-gap: 10px;
    -webkit-column-gap: 10px;
            column-gap: 10px;
    -ms-grid-columns: (162px)[2];
        grid-template-columns: repeat(2, 162px);
    -ms-grid-rows: (160px)[8];
        grid-template-rows: repeat(8, 160px);
        grid-template-areas: "s1 s2 " " s3 s4" " s5 s6" "s7  s8 " "w1  w1" "s9 s10" "w2 w2" "w3 w3";
  }
  .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-links {
    border: none;
    margin-bottom: 30px;
    margin-right: 0;
    text-align: center;
  }
  .footer-links__title {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-links-tel {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-links__info {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-links__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-nav-mobile {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 450px) {
  .header-contacts-mobile__tel span a {
    font-size: 12px;
  }
  .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-links {
    border: none;
    margin-bottom: 30px;
    margin-right: 0;
    text-align: center;
  }
  .footer-links__title {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-links-tel {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-links__info {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-links__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-nav-mobile {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 330px) {
  .categories__items-middle-screen {
    display: -ms-grid;
    display: grid;
    row-gap: 10px;
    -webkit-column-gap: 10px;
            column-gap: 10px;
    -ms-grid-columns: (140px)[2];
        grid-template-columns: repeat(2, 140px);
    -ms-grid-rows: (140px)[8];
        grid-template-rows: repeat(8, 140px);
  }
}

@media screen and (max-width: 290px) {
  .categories__items-middle-screen {
    display: -ms-grid;
    display: grid;
    row-gap: 10px;
    -webkit-column-gap: 10px;
            column-gap: 10px;
    -ms-grid-columns: (120px)[2];
        grid-template-columns: repeat(2, 120px);
    -ms-grid-rows: (120px)[8];
        grid-template-rows: repeat(8, 120px);
  }
  .novelty__header {
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    padding-left: 25px;
  }
  .mySwiper2 {
    width: 240px;
  }
  .mySwiper2 .img-slider__button {
    width: 20px;
    height: 20px;
  }
  .mySwiper2 .swiper-slide img {
    width: 100%;
    height: auto;
  }
  .mySwiper2 .swiper-button-prev::after,
  .mySwiper2 .swiper-button-next::after {
    font-size: 12px;
  }
  .card-item {
    max-width: 250px;
  }
  .card-item__title {
    font-size: 20px;
    margin: 0 auto;
  }
  .card-item__info {
    padding: 0 0 5px 10px;
  }
  .card-item__img {
    width: 100%;
    height: auto;
    overflow: hidden;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .card-item__price-box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 5px 0 5px 5px;
  }
  .card-item__price-box .card-item__price {
    font-size: 16px;
    line-height: 24px;
  }
  .card-item__price-box .card-item__button {
    padding: 2px 25px;
  }
}
